/* google fonts */
.inter-font {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
}

/* Shared Styles */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  width: 80%;
  max-width: 1280px;
  margin: 0 auto;
}
.btn {
  font-size: 16px;
  color: #ffffff;
  padding: 12px 16px;
  border-radius: 4px;
  background-color: #30b868;
  border: none;
  font-weight: 600;
}

/* nav styles */
nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 26px;
}
nav .logo {
  margin: 16px 0px;
}
nav .list {
  display: flex;
  align-items: center;
  gap: 32px;
  list-style: none;
  font-size: 16px;
  font-weight: 500;
}

/* hero banner styles */
#banner-img {
  background-image: linear-gradient(to right, rgba(0, 0, 0, 0.275)),
    url("../assets/hero-bg.png");
}
.hero-banner {
  padding-top: 80px;
  padding-bottom: 135px;
  text-align: center;
  color: white;
}
.hero-banner h1 {
  font-size: 62px;
  font-weight: bold;
  margin: 16px 0;
}
.hero-banner .color {
  color: #30b868;
}
.hero-banner p {
  font-size: 18px;
  font-weight: 400;
  margin-bottom: 32px;
  line-height: 28px;
}
.btn-2 {
  font-weight: 500px;
  padding: 8px 16px;
  background-color: white;
  color: #30b868;
  border: none;
  border-radius: 22px;
}

/* notes section styles */
#note {
  margin-top: 50px;
}
.note-content {
  text-align: center;
}
.note-content h2 {
  font-size: 40px;
  color: #001931;
  font-weight: 700;
}
.note-content p {
  font-size: 16px;
  font-weight: 400;
  color: #627382;
  margin-top: 16px;
  margin-bottom: 44px;
}

.card-container {
  display: flex;
  gap: 24px;
}
.card {
  background-color: #ffffff;
  width: 322px;
  padding: 50px 24px;
  text-align: center;
  box-shadow: 0 0 4px 0 #00000060;
  border-radius: 8px;
}
.card .circle {
  margin: 0 auto;
  width: 100px;
  height: 100px;
  background-color: #f95555;
  border-radius: 50%;
}
.circle img {
  width: 32px;
  margin: 35px auto;
}
.card h3 {
  font-size: 24px;
  color: #001931;
  margin: 16px 0;
}
.card p {
  font-size: 14px;
  color: #627382;
}
