/* google fonts */
.inter-font {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
}

/* Shared Styles */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  width: 80%;
  max-width: 1280px;
  margin: 0 auto;
}
.btn {
  font-size: 16px;
  color: #ffffff;
  padding: 12px 16px;
  border-radius: 4px;
  background-color: #30b868;
  border: none;
  font-weight: 600;
  cursor: pointer;
}
.btn:hover {
  background-color: #f95555;
}

/* nav styles */
nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 26px;
}
nav .logo {
  margin: 16px 0px;
}
nav .list {
  display: flex;
  align-items: center;
  gap: 32px;
  list-style: none;
  font-size: 16px;
  font-weight: 500;
}

/* hero banner styles */
#banner-img {
  background-image: linear-gradient(to right, rgba(0, 0, 0, 0.275)),
    url("../assets/hero-bg.png");
  background-repeat: no-repeat;
  background-size: cover;
}
.hero-banner {
  padding-top: 80px;
  padding-bottom: 135px;
  text-align: center;
  color: white;
}
.hero-banner h1 {
  font-size: 62px;
  font-weight: bold;
  margin: 16px 0;
}
.hero-banner .color {
  color: #30b868;
}
.hero-banner p {
  font-size: 18px;
  font-weight: 400;
  margin-bottom: 32px;
  line-height: 28px;
}
.btn-2 {
  display: flex;
  margin: auto;
  font-weight: 500px;
  padding: 8px 16px;
  background-color: white;
  color: #30b868;
  border: none;
  border-radius: 22px;
  cursor: pointer;
}
.btn-2:hover {
  background-color: #f95555;
  color: white;
}
.btn-2 img {
  width: 16px;
  margin-right: 5px;
}
.btn-3 {
  background-color: #00193100;
  margin-left: 10px;
  border: 1px solid white;
}
/* notes section styles */
#note {
  margin-top: 50px;
}
.note-content {
  text-align: center;
}
.note-content h2 {
  font-size: 40px;
  color: #001931;
  font-weight: 700;
}
.note-content p {
  font-size: 16px;
  font-weight: 400;
  color: #627382;
  margin-top: 16px;
  margin-bottom: 44px;
}

.card-container {
  display: flex;
  gap: 24px;
}
.card {
  background-color: #ffffff;
  width: 322px;
  padding: 50px 24px;
  text-align: center;
  box-shadow: 0 0 5px 0 #00000030;
  border-radius: 8px;
}
.card .circle {
  margin: 0 auto;
  width: 100px;
  height: 100px;
  background-color: #f95555;
  border-radius: 50%;
}
.circle img {
  width: 42px;
  margin: 30px auto;
}
.card h3 {
  font-size: 24px;
  color: #001931;
  margin: 16px 0;
}
.card p {
  font-size: 14px;
  color: #627382;
}

/* brain section styles */
#brain {
  margin: 120px auto;
}
.brain-container {
  display: flex;
  gap: 60px;
  align-items: center;
}
.brain-container h6 {
  font-size: 16px;
  color: #30b868;
  margin-bottom: 16px;
  font-weight: 400;
}
.brain-container h2 {
  font-size: 42px;
  margin-bottom: 16px;
  color: #001931;
  font-weight: bold;
}
.brain-container p {
  font-size: 16px;
  color: #627382;
  margin-bottom: 36px;
  line-height: 22px;
}
.brain-container li {
  list-style: none;
  font-size: 18px;
  margin-bottom: 20px;
  color: #001931;
  font-weight: 500;
}
.brain-container li > i {
  color: #30b868;
  margin-right: 10px;
}

/* ready section styles */
#ready {
  margin-bottom: 120px;
}
.ready-content {
  background-color: #f7f6f2;
  padding: 80px 0;
  text-align: center;
  border-radius: 12px;
}
.ready-content h2 {
  font-size: 40px;
  font-weight: bold;
  color: #001931;
  margin-bottom: 16px;
}
.ready-content p {
  color: #627382;
  font-weight: 300;
  margin-bottom: 24px;
}
.ready-content .ready-list {
  display: flex;
  width: 400px;
  margin: 15px auto;
  gap: 30px;
  text-align: center;
  color: #627382;
  font-weight: 300;
}

/* footer styles */
#footer {
  background-color: rgb(22, 30, 52);
}
.footer-container {
  display: flex;
  justify-content: space-between;
  padding-top: 120px;
  color: white;
}
.footer-container .footer-logo {
  margin-bottom: 80px;
}
.footer-container .social-link h3 {
  font-size: 20px;
  font-weight: 400;
  margin-bottom: 16px;
}
.horizontal hr {
  border: 1px solid rgb(37, 47, 74);
  margin-bottom: 30px;
}
.small {
  display: block;
  font-size: 16px;
  max-width: 800px;
  margin: auto;
  color: white;
  text-align: center;
  padding-bottom: 30px;
}
