/* google fonts */
.inter-font {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
}

/* Shared Styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    width: 80%;
    max-width: 1280px;
    margin: 0 auto;
}


/* nav styles */
nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 26px;
}
nav .logo {
    margin: 16px 0px;
}
nav .list {
    display: flex;
    align-items: center;
    gap: 32px;
    list-style: none;
    font-size: 16px;
    font-weight: 500;
}
nav .btn {
    font-size: 16px;
    color:#FFFFFF;
    padding: 12px 16px;
    border-radius: 4px;
    background-color: #30B868;
    border: none;
    font-weight: 600;
}